<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FitnessCenter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BatchServlet</display-name>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.BatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/BatchServlet</url-pattern>
    <url-pattern>/Batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBatchServlet</display-name>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/DeleteBatchServlet</url-pattern>
    <url-pattern>/DeleteBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchServlet</display-name>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.UpdateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <url-pattern>/UpdateBatchServlet</url-pattern>
    <url-pattern>/UpdateBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantsServlet</display-name>
    <servlet-name>ParticipantsServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.ParticipantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantsServlet</servlet-name>
    <url-pattern>/ParticipantsServlet</url-pattern>
    <url-pattern>/Participants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipantServlet</display-name>
    <servlet-name>DeleteParticipantServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.DeleteParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipantServlet</servlet-name>
    <url-pattern>/DeleteParticipantServlet</url-pattern>
    <url-pattern>/DeleteParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipantServlet</display-name>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <servlet-class>com.FitnessCenter.controller.UpdateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <url-pattern>/UpdateParticipantServlet</url-pattern>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
</web-app>